apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: istio-ingressgateway
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  project: default
  source:
    repoURL: https://github.com/0basedHuman/k8s-home-lab.git
    targetRevision: main
    path: istio/istio-ingress-gateway/gateway
    helm:
      releaseName: istio-ingressgateway
      parameters:
        - name: service.type
          value: LoadBalancer     # or NodePort for kind/minikube
  destination:
    server: https://kubernetes.default.svc
    namespace: istio-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
